<% provide(:title, @title) %>
<h1><%= @pet.namePet %></h1>
<span><%= link_to "view my profile", @user %></span>
<span><b>Follower:</b> <%= @users.count %></span>
<% @users.each do |user| %>
    <br/>
    <%= link_to gravatar_for(user, size: 30), user %>
    <%= user.name %>
<% end %>
</section>
</aside>