<div class="row">
  <div class="small-8 small-centered columns">
    <h1>Crea un luogo</h1>
    <div>

      <%= form_for(@place) do |f|%>
          <fieldset>
            <legend>Dati luogo</legend>
            <%= f.text_field :name, placeholder: 'nome posto' %>
            <%= f.text_field :category, placeholder: 'categoria' %>

            <%= f.text_field :street, placeholder: 'strada' %>
            <%= f.text_field :city, placeholder: 'city' %>

            <%= f.text_field :country, placeholder: 'country' %>
            <%= f.text_field :description, placeholder: 'descrizione' %>
          </fieldset>
          <%= f.submit 'Crea', class: 'small round primary button' %>
      <% end %>

    </div>

  </div>
</div>
</div>